@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Windlass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shanty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pieces+of+Eight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ewert&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

/* Nếu có font từ DaFont, tải về và thêm như sau */
/* const fonts = [
  "'Pirata One', cursive",
  "'Windlass', cursive",
  "'Shanty', cursive",
  "'Pieces of Eight', cursive",
  "'TreasureMap', cursive",
  "'CF Black Pearl', cursive"
]; */

/* * {
  font-family: 'TreasureMap', cursive;
} */

/* * {
  font-family: 'Ewert', cursive;
  text-transform: uppercase;
} */
/* * { font-family: 'Rubik Dirt', cursive; } */
* { font-family: 'Special Elite', cursive; }
/* * { font-family: 'Nosifer', cursive; } */